/*GRIDS HOME MOBILE*/
/*GRIDS HOME 768PX*/
/*GRIDS HOME 992PX*/
/*GRIDS HOME 1200PX*/
/*GRIDS PRODUCTOS MOBILE*/
/*GRIDS PRODUCTOS 768PX*/
/*GRIDS PRODUCTOS 1200PX*/
/*COLECCIONES Y NOVEDADES MOBILE*/
/*COLECCIONES Y NOVEDADES 390*/
/*COLECCIONES Y NOVEDADES 768PX*/
/*COLECCIONES Y NOVEDADES 1200PX*/
/*CARDS SECCION COLECCIONES Y NOVEDADES MOBILE*/
/*CARDS SECCION COLECCIONES Y NOVEDADES 390*/
/*CARDS SECCION COLECCIONES Y NOVEDADES 768PX*/
/*CARDS SECCION COLECCIONES Y NOVEDADES 1200PX*/
/*NOSOTROS*/
/*CONTACTO*/
/*FOOTER*/
/*RESETEO DEL NAVEGADOR*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

/*SAAS IF*/
.redondeado {
  border-radius: 4px;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.75); }

.carousel-control-prev-icon {
  background-image: url(../assets/images/iconos-y-logos/icons8-chevron-left-96.png); }

.carousel-control-next-icon {
  background-image: url(../assets/images/iconos-y-logos/icons8-chevron-right-96.png); }

/*  MIXIN PRINCIPALES GRILLAS*/
/*HEADER ------------------------------------------------------------------------------------------------*/
/*BARRA SUPERIOR PARA COMUNICAR DESCUENTOS, BENEFICIOS*/
.barramensaje {
  z-index: 2;
  display: flex;
  position: fixed;
  width: 100%;
  height: 45px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif; }

/*SAAS NESTING*/
/*MENU RESPONSIVE*/
.navbar {
  z-index: 2;
  display: flex;
  position: fixed;
  width: 100%;
  top: 45px;
  padding: 0px;
  background-color: white; }
  .navbar .container-fluid {
    margin: 0 15px;
    padding: 0;
    width: 100%;
    background-color: #fcfcfc; }

.logoycarro {
  display: grid;
  grid-template-columns: 126px 1fr 37px;
  grid-template-areas: "logo none carro";
  width: calc(50% + 63px);
  padding: 0px;
  margin: 0px; }

.logo {
  grid-area: logo;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 26px;
  color: black;
  font-weight: 700;
  height: 50px;
  width: 126Px; }

.carro {
  grid-area: carro;
  margin: auto 0;
  height: 37px; }

.carroDesktop {
  display: none; }

.active {
  font-weight: 700; }

a:hover {
  background-color: rgba(202, 202, 202, 0.2); }

/*FOOTER*/
.footer {
  display: grid;
  position: relative;
  font-size: 24px;
  grid-template-rows: 80px 30px 20px 20px;
  grid-template-areas: "logo" "contactenos" "mail" "twitter";
  top: 90px;
  height: 170px;
  width: 100%;
  background-color: black; }

.logoFooter {
  margin: auto auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  color: white;
  font-weight: 700;
  height: 50px;
  width: 126Px;
  grid-area: logo;
  background-color: transparent; }

.formatoContacto, .mail, .twitter, .contactenos {
  color: white;
  font-size: 16px;
  text-align: center; }

/*SAAS EXTEND*/
.mail {
  grid-area: mail; }

.twitter {
  grid-area: twitter; }

.contactenos {
  grid-area: contactenos; }

/*MAIN---------------------------------------------------------------------------------------------------------------*/
/*CONTENEDOR GRID PARA LA SECCION MAIN DE LA HOME MOBILE*/
/*SAAS MIXIN*/
.contenedorMain {
  display: grid;
  position: relative;
  width: 100%;
  top: 95px;
  margin: 0 auto;
  padding: 0 15px;
  grid-template-rows: auto 100px auto 80px auto 80px auto 80px 0px 40px auto 15px auto 40px 60px auto 40px auto 15px auto 15px auto 40px;
  gap: none;
  grid-template-areas: "portada" "titulocolecciones" "imagencoleccion1" "titulocoleccion1" "imagencoleccion2" "titulocoleccion2" "imagencoleccion3" "titulocoleccion3" "vacio1" "tituloNosotrosPortada" "parrafoNosotros1" "vacio2" "parrafoNosotros2" "vacio3" "ourCommunity" "fotosuso" "vacio4" "imagenFundacion" "vacio5" "textoFundacion1" "vacio6" "textoFundacion2" "vacio7"; }

/*SAAS EACH DE UN MAP*/
.portadaMobile {
  grid-area: portada; }

.portada375 {
  grid-area: portada; }

.portadaTablet {
  grid-area: portada; }

.portadaDesktop {
  grid-area: portada; }

.titulocolecciones {
  grid-area: titulocolecciones; }

.titulocoleccion1 {
  grid-area: titulocoleccion1; }

.titulocoleccion2 {
  grid-area: titulocoleccion2; }

.titulocoleccion3 {
  grid-area: titulocoleccion3; }

.imagencoleccion1 {
  grid-area: imagencoleccion1; }

.imagencoleccion2 {
  grid-area: imagencoleccion2; }

.imagencoleccion3 {
  grid-area: imagencoleccion3; }

.tituloNosotrosPortada {
  grid-area: tituloNosotrosPortada; }

.parrafoNosotros1 {
  grid-area: parrafoNosotros1; }

.parrafoNosotros2 {
  grid-area: parrafoNosotros2; }

.ourCommunity {
  grid-area: ourCommunity; }

.sliderFotosdeUso {
  grid-area: fotosuso; }

.fotosdeUso1 {
  grid-area: fotosuso1; }

.fotosdeUso2 {
  grid-area: fotosuso2; }

.fotosdeUso3 {
  grid-area: fotosuso3; }

.fotosdeUso4 {
  grid-area: fotosuso4; }

.fotosdeUso5 {
  grid-area: fotosuso5; }

.fotosdeUso6 {
  grid-area: fotosuso6; }

.fotosdeUso7 {
  grid-area: fotosuso7; }

.fotosdeUso8 {
  grid-area: fotosuso8; }

.imagenFundacion {
  grid-area: imagenFundacion; }

.textoFundacion1 {
  grid-area: textoFundacion1; }

.textoFundacion2 {
  grid-area: textoFundacion2; }

.portadaMobile {
  display: flex;
  width: 100%; }

.portadaTablet, .portada375, .portadaDesktop {
  display: none;
  width: 100%; }

.titulocolecciones {
  font-size: 40px;
  text-align: center;
  margin: 40px auto; }

.coleccionesImagenes {
  width: 100%;
  max-width: 450px;
  margin: auto; }

.coleccionesTexto {
  color: black;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 24px; }

.coleccionesTexto:visited {
  color: black; }

.tituloNosotrosPortada {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto; }

.parrafoNosotros {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align: center; }

.ourCommunity {
  margin: auto; }

.sliderFotosdeUso {
  display: flex;
  font-size: 24px;
  width: 100%; }

/*SAAS FOR*/
.fotosdeUso1 {
  display: none;
  width: 100%; }

.fotosdeUso2 {
  display: none;
  width: 100%; }

.fotosdeUso3 {
  display: none;
  width: 100%; }

.fotosdeUso4 {
  display: none;
  width: 100%; }

.fotosdeUso5 {
  display: none;
  width: 100%; }

.fotosdeUso6 {
  display: none;
  width: 100%; }

.fotosdeUso7 {
  display: none;
  width: 100%; }

.fotosdeUso8 {
  display: none;
  width: 100%; }

.imagenFundacion {
  display: block;
  margin: auto;
  font-size: 24px;
  width: 250px; }

.textoFundacion1, .textoFundacion2 {
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 700; }

/*PAGINA PRODUCTO--------------------------------------------------------------------------------*/
/*SAAS MIXIN*/
.containerGridsProduct {
  display: grid;
  position: relative;
  width: 100%;
  top: 95px;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 480px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 30px auto 30px 0px 30px 10px auto 20px 44px 10px 44px 30px 30px 30px auto 30px;
  grid-template-areas: "carrusel" "vacio1" "titulo" "precio" "vacio2" "reviews" "vacio3" "nopesticidas" "vacio4" "botonATC" "vacio5" "botonComprar" "vacio6" "tituloDescripcion" "vacio7" "descripcion" "vacio8"; }

h2, p {
  padding: 0;
  margin: 0; }

.carrusel {
  grid-area: carrusel; }

.titulo {
  font-size: 22px;
  grid-area: titulo; }

.precio {
  font-size: 20px;
  grid-area: precio; }

.reviews {
  grid-area: reviews; }

.noPesticidas {
  width: 100%;
  margin: 0 auto;
  grid-area: nopesticidas; }

.botonATC, .botonComprar {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 500px;
  border-radius: 18px;
  border: none; }

.botonATC {
  background-color: white;
  color: black;
  border: 2px solid #68634b;
  grid-area: botonATC; }

.botonComprar {
  border: 2px solid #68634b;
  background-color: #68634b;
  color: white;
  grid-area: botonComprar; }

.tituloDescripcion {
  margin: 0 auto;
  grid-area: tituloDescripcion; }

.descripcion {
  font-family: source sans pro;
  font-weight: 700;
  font-size: 16px;
  text-align: justify;
  grid-area: descripcion; }

/*PAGINA NOVEDADES Y COLECCIONES ------------------------------------------------------------*/
.contenedorCards {
  display: grid;
  position: relative;
  top: 95px;
  width: fit-content;
  margin: 0 auto;
  padding: 0 20px;
  gap: 20px;
  grid-template-columns: 230px;
  grid-template-rows: 60px 308px 308px 308px 308px 308px 308px 308px 308px 308px 308px 308px 308px 308px 308px 308px 308px 50px;
  grid-template-areas: "titulonovedadescolecciones" "card1" "card2" "card3" "card4" "card5" "card6" "card7" "card8" "card9" "card10" "card11" "card12" "card13" "card14" "card15" "card16" "vacio1"; }

.titulonovedadescolecciones {
  grid-area: titulonovedadescolecciones;
  margin: auto; }

.tituloCard {
  font-size: 18px;
  margin: auto; }

.precioCard {
  font-size: 15px;
  margin: auto; }

.imagenCard {
  width: 100%; }

.card {
  display: grid;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  margin: auto;
  box-shadow: 1px 0px 4px 0px black;
  grid-template-columns: 1fr;
  grid-template-rows: 228px 40px 40px;
  /*SAAS USO DE &*/ }
  .card:visited {
    color: black; }
  .card:active {
    color: black; }
  .card:hover {
    color: black; }

/*SAAS FOR*/
.card1 {
  grid-template-areas: "foto1" "titulo1" "precio1";
  grid-area: card1; }

.card2 {
  grid-template-areas: "foto2" "titulo2" "precio2";
  grid-area: card2; }

.card3 {
  grid-template-areas: "foto3" "titulo3" "precio3";
  grid-area: card3; }

.card4 {
  grid-template-areas: "foto4" "titulo4" "precio4";
  grid-area: card4; }

.card5 {
  grid-template-areas: "foto5" "titulo5" "precio5";
  grid-area: card5; }

.card6 {
  grid-template-areas: "foto6" "titulo6" "precio6";
  grid-area: card6; }

.card7 {
  grid-template-areas: "foto7" "titulo7" "precio7";
  grid-area: card7; }

.card8 {
  grid-template-areas: "foto8" "titulo8" "precio8";
  grid-area: card8; }

.card9 {
  grid-template-areas: "foto9" "titulo9" "precio9";
  grid-area: card9; }

.card10 {
  grid-template-areas: "foto10" "titulo10" "precio10";
  grid-area: card10; }

.card11 {
  grid-template-areas: "foto11" "titulo11" "precio11";
  grid-area: card11; }

.card12 {
  grid-template-areas: "foto12" "titulo12" "precio12";
  grid-area: card12; }

.card13 {
  grid-template-areas: "foto13" "titulo13" "precio13";
  grid-area: card13; }

.card14 {
  grid-template-areas: "foto14" "titulo14" "precio14";
  grid-area: card14; }

.card15 {
  grid-template-areas: "foto15" "titulo15" "precio15";
  grid-area: card15; }

.card16 {
  grid-template-areas: "foto16" "titulo16" "precio16";
  grid-area: card16; }

/*SAAS FOR*/
.imagenCard1 {
  grid-area: foto1; }

.imagenCard2 {
  grid-area: foto2; }

.imagenCard3 {
  grid-area: foto3; }

.imagenCard4 {
  grid-area: foto4; }

.imagenCard5 {
  grid-area: foto5; }

.imagenCard6 {
  grid-area: foto6; }

.imagenCard7 {
  grid-area: foto7; }

.imagenCard8 {
  grid-area: foto8; }

.imagenCard9 {
  grid-area: foto9; }

.imagenCard10 {
  grid-area: foto10; }

.imagenCard11 {
  grid-area: foto11; }

.imagenCard12 {
  grid-area: foto12; }

.imagenCard13 {
  grid-area: foto13; }

.imagenCard14 {
  grid-area: foto14; }

.imagenCard15 {
  grid-area: foto15; }

.imagenCard16 {
  grid-area: foto16; }

/*SAAS FOR*/
.tituloCard1 {
  grid-area: titulo1; }

.tituloCard2 {
  grid-area: titulo2; }

.tituloCard3 {
  grid-area: titulo3; }

.tituloCard4 {
  grid-area: titulo4; }

.tituloCard5 {
  grid-area: titulo5; }

.tituloCard6 {
  grid-area: titulo6; }

.tituloCard7 {
  grid-area: titulo7; }

.tituloCard8 {
  grid-area: titulo8; }

.tituloCard9 {
  grid-area: titulo9; }

.tituloCard10 {
  grid-area: titulo10; }

.tituloCard11 {
  grid-area: titulo11; }

.tituloCard12 {
  grid-area: titulo12; }

.tituloCard13 {
  grid-area: titulo13; }

.tituloCard14 {
  grid-area: titulo14; }

.tituloCard15 {
  grid-area: titulo15; }

.tituloCard16 {
  grid-area: titulo16; }

/*SAAS FOR*/
.precioCard1 {
  grid-area: precio1; }

.precioCard2 {
  grid-area: precio2; }

.precioCard3 {
  grid-area: precio3; }

.precioCard4 {
  grid-area: precio4; }

.precioCard5 {
  grid-area: precio5; }

.precioCard6 {
  grid-area: precio6; }

.precioCard7 {
  grid-area: precio7; }

.precioCard8 {
  grid-area: precio8; }

.precioCard9 {
  grid-area: precio9; }

.precioCard10 {
  grid-area: precio10; }

.precioCard11 {
  grid-area: precio11; }

.precioCard12 {
  grid-area: precio12; }

.precioCard13 {
  grid-area: precio13; }

.precioCard14 {
  grid-area: precio14; }

.precioCard15 {
  grid-area: precio15; }

.precioCard16 {
  grid-area: precio16; }

/*PAGINA NOSOTROS------------------------------------------------------------------------------------------*/
/*SAAS MIXIN*/
.mainNosotros {
  display: grid;
  position: relative;
  width: 100%;
  top: 95px;
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-rows: auto 30px auto 50px auto 50px;
  grid-template-areas: "tituloNosotros" "vacio1" "textoNosotros" "vacio2" "imagenFundadores" "vacio3"; }

.tituloNosotros {
  margin: auto;
  overflow: hidden;
  grid-area: tituloNosotros;
  font-size: 30px; }

.textoNosotros {
  margin: auto;
  font-size: 18px;
  text-align: justify;
  grid-area: textoNosotros; }

.imagenFundadores {
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  grid-area: imagenFundadores; }

/*PAGINA CONTACTO-------------------------------------------------------------------------------------------------*/
/*SAAS MIXIN*/
.mainContacto {
  display: grid;
  position: relative;
  width: 100%;
  top: 95px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  grid-template-rows: auto 50px auto auto 30px 30px 50px;
  grid-template-areas: "titulo" "vacio1" "textoContactUs1" "textoContactUs2" "textoContactUs3" "textoContactUs4" "vacio2"; }

.tituloContacto {
  margin: auto;
  overflow: hidden;
  font-size: 30px;
  grid-area: titulo; }

.textoContacto1, .textoContacto2, .textoContacto3, .textoContacto4 {
  text-align: left;
  font-size: 18px;
  text-align: justify;
  grid-area: texto;
  font-family: raleway;
  font-weight: 600;
  margin: 0 auto; }

/*SAAS FOR*/
.textoContacto1 {
  grid-area: textoContactUs1; }

.textoContacto2 {
  grid-area: textoContactUs2; }

.textoContacto3 {
  grid-area: textoContactUs3; }

.textoContacto4 {
  grid-area: textoContactUs4; }

/*-------------------------------------------------------------------MEDIA QUERIES-----------------------------------------------------------*/
@media screen and (max-width: 300px) {
  /*PORTADA HOME*/
  .logoycarro {
    display: grid;
    grid-template-columns: 1fr 37px;
    grid-template-areas: "none carro";
    width: calc(50%);
    padding: 0px;
    margin: 0px; }
  .logo {
    display: none; } }

@media screen and (min-width: 375px) {
  /*PORTADA HOME*/
  .portadaMobile {
    display: none; }
  .portada375 {
    display: flex; }
  /*MEDIA QUERY 1 NEW ARRIVALS Y COLLECTIONS*/
  .contenedorCards {
    grid-template-columns: 160px 160px;
    grid-template-rows: 60px 238px 238px 238px 238px 238px 238px 238px 238px 50px;
    grid-template-areas: "titulonovedadescolecciones titulonovedadescolecciones" "card1 card2" "card3 card4" "card5 card6" "card7 card8" "card9 card10" "card11 card12" "card13 card14" "card15 card16" "vacio1 vacio1";
    gap: 15px; }
  .card {
    grid-template-rows: 158px 40px 40px; } }

@media screen and (min-width: 576px) {
  /*BARRA SUPERIOR PARA COMUNICAR DESCUENTOS, BENEFICIOS*/
  .barramensaje {
    font-size: 16px; } }

@media screen and (min-width: 768px) {
  /*BARRA SUPERIOR PARA COMUNICAR DESCUENTOS, BENEFICIOS*/
  .barramensaje {
    font-size: 18px; }
  .carro {
    grid-area: carro;
    margin: auto 0;
    height: 41px; }
  /*CONTENEDOR GRID PARA LA SECCION MAIN DE LA HOME MOBILE*/
  .contenedorMain {
    grid-template-columns: 15px 1fr 1fr 15px;
    grid-template-rows: auto 100px auto 80px auto 80px auto 80px 0px auto auto 5px auto 40px 60px auto auto 40px auto 70px 50px;
    padding: 0;
    gap: 10px;
    grid-template-areas: "portada portada portada portada" "paddingleft titulocolecciones titulocolecciones paddingright" "paddingleft imagencoleccion1 imagencoleccion1 paddingright" "paddingleft titulocoleccion1 titulocoleccion1 paddingright" "paddingleft imagencoleccion2 imagencoleccion2 paddingright" "paddingleft titulocoleccion2 titulocoleccion2 paddingright" "paddingleft imagencoleccion3 imagencoleccion3 paddingright" "paddingleft titulocoleccion3 titulocoleccion3 paddingright" "paddingleft vacio1 vacio1 paddingright" "paddingleft tituloNosotrosPortada tituloNosotrosPortada paddingright" "paddingleft parrafoNosotros1 parrafoNosotros1 paddingright" "paddingleft vacio2 vacio2 paddingright" "paddingleft parrafoNosotros2 parrafoNosotros2 paddingright" "paddingleft vacio3 vacio3 paddingright" "paddingleft ourCommunity ourCommunity paddingright" "paddingleft fotosuso1 fotosuso2 paddingright" "paddingleft fotosuso3 fotosuso4 paddingright" "paddingleft vacio5 vacio5 paddingright" "paddingleft imagenFundacion textoFundacion1 paddingright" "paddingleft imagenFundacion textoFundacion2 paddingright" "paddingleft vacio4 vacio4 paddingright"; }
  .portadaMobile, .portada375, .sliderFotosdeUso {
    display: none; }
  .portadaDesktop {
    display: flex; }
  /*SAAS FOR*/
  .fotosdeUso1 {
    display: flex;
    width: 100%; }
  .fotosdeUso2 {
    display: flex;
    width: 100%; }
  .fotosdeUso3 {
    display: flex;
    width: 100%; }
  .fotosdeUso4 {
    display: flex;
    width: 100%; }
  /*MEDIA QUERY 2 NEW ARRIVALS Y COLLECTIONS*/
  .contenedorCards {
    grid-template-columns: 185px 185px 185px;
    grid-template-rows: 70px 265px 265px 265px 265px 265px 265px 50px;
    grid-template-areas: "titulonovedadescolecciones titulonovedadescolecciones titulonovedadescolecciones" "card1 card2 card3" "card4 card5 card6" "card7 card8 card9" "card10 card11 card12" "card13 card14 card15" "card16 vacio2 vacio2" "vacio1 vacio1 vacio1";
    width: 715px;
    gap: 60px; }
  .card {
    grid-template-rows: 185px 40px 40px; }
  /*PRODUCTOS*/
  .containerGridsProduct {
    max-width: none;
    width: 768px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0px 60px 30px 0px 20px 22px auto 22PX 44px 9px 44px 20px 30px 20px auto 30px;
    grid-template-areas: "carrusel vacio1" "carrusel titulo" "carrusel precio" "carrusel vacio2" "carrusel reviews" "carrusel vacio3" "carrusel nopesticidas" "carrusel vacio4" "carrusel botonATC" "carrusel vacio5" "carrusel botonComprar" "vacio6 vacio6" "tituloDescripcion tituloDescripcion" "vacio7 vacio7" "descripcion descripcion" "vacio8 vacio8"; }
  .titulo, .precio, .reviews {
    padding: 0 20PX; }
  .noPesticidas {
    width: 100%; }
  .botonATC, .botonComprar {
    width: calc(100% - 40px); }
  .descripcion {
    font-size: 22px; } }

@media screen and (min-width: 992px) {
  /*MEDIA QUERY 3 DE HOME*/
  .logoycarro {
    padding-right: 100px;
    display: flex;
    width: 156px;
    padding: 0px;
    margin: 0px; }
  .carro {
    display: none; }
  .carroDesktop {
    display: flex;
    width: 42px; }
  /*CONTENEDOR GRID PARA LA SECCION MAIN DE LA HOME MOBILE*/
  .contenedorMain {
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 1fr 30px;
    grid-template-rows: auto 100px auto 40px 40px auto auto 5px auto 20px 60px auto auto 40px auto 70px 50px;
    gap: 10px;
    grid-template-areas: "portada portada portada portada portada portada portada portada" "paddingleft titulocolecciones titulocolecciones titulocolecciones titulocolecciones titulocolecciones titulocolecciones paddingright" "paddingleft imagencoleccion1 imagencoleccion1 imagencoleccion2 imagencoleccion2 imagencoleccion3 imagencoleccion3 paddingright" "paddingleft titulocoleccion1 titulocoleccion1 titulocoleccion2 titulocoleccion2 titulocoleccion3 titulocoleccion3 paddingright" "paddingleft vacio1 vacio1 vacio1 vacio1 vacio1 vacio1 paddingright" "paddingleft tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada paddingright" "paddingleft parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 paddingright" "paddingleft vacio2 vacio2 vacio2 vacio2 vacio2 vacio2 paddingright" "paddingleft parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 paddingright" "paddingleft vacio3 vacio3 vacio3 vacio3 vacio3 vacio3 paddingright" "paddingleft ourCommunity ourCommunity ourCommunity ourCommunity ourCommunity ourCommunity paddingright" "paddingleft fotosuso1 fotosuso1 fotosuso2 fotosuso2 fotosuso3 fotosuso3 paddingright" "paddingleft fotosuso4 fotosuso4 fotosuso5 fotosuso5 fotosuso6 fotosuso6 paddingright" "paddingleft vacio4 vacio4 vacio4 vacio4 vacio4 vacio4 paddingright" "paddingleft imagenFundacion imagenFundacion imagenFundacion textoFundacion1 textoFundacion1 textoFundacion1 paddingright" "paddingleft imagenFundacion imagenFundacion imagenFundacion textoFundacion2 textoFundacion2 textoFundacion2 paddingright" "paddingleft vacio5 vacio5 vacio5 vacio5 vacio5 vacio5 paddingright"; }
  .portadaTablet {
    display: none; }
  .portadaDesktop, .fotosdeUso5, .fotosdeUso6 {
    display: flex; } }

@media screen and (min-width: 1200px) {
  /*MEDIA QUERY 4 DE HOME*/
  /*CONTENEDOR GRID PARA LA SECCION MAIN DE LA HOME MOBILE*/
  .contenedorMain {
    max-width: 1200px;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 30px;
    grid-template-rows: auto 100px auto 40px 40px auto auto 5px auto 20px 60px auto auto 40px auto 70px 50px;
    gap: 10px;
    grid-template-areas: "portada portada portada portada portada portada portada portada portada portada portada portada portada portada" "paddingleft titulocolecciones titulocolecciones titulocolecciones titulocolecciones titulocolecciones titulocolecciones titulocolecciones titulocolecciones titulocolecciones titulocolecciones titulocolecciones titulocolecciones paddingright" "paddingleft imagencoleccion1 imagencoleccion1 imagencoleccion1 imagencoleccion1 imagencoleccion2 imagencoleccion2 imagencoleccion2 imagencoleccion2 imagencoleccion3 imagencoleccion3 imagencoleccion3 imagencoleccion3 paddingright" "paddingleft titulocoleccion1 titulocoleccion1 titulocoleccion1 titulocoleccion1 titulocoleccion2 titulocoleccion2 titulocoleccion2 titulocoleccion2 titulocoleccion3 titulocoleccion3 titulocoleccion3 titulocoleccion3 paddingright" "paddingleft vacio1 vacio1 vacio1 vacio1 vacio1 vacio1 vacio1 vacio1 vacio1 vacio1 vacio1 vacio1 paddingright" "paddingleft tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada tituloNosotrosPortada paddingright" "paddingleft parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 parrafoNosotros1 paddingright" "paddingleft vacio2 vacio2 vacio2 vacio2 vacio2 vacio2 vacio2 vacio2 vacio2 vacio2 vacio2 vacio2 paddingright" "paddingleft parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 parrafoNosotros2 paddingright" "paddingleft vacio3 vacio3 vacio3 vacio3 vacio3 vacio3 vacio3 vacio3 vacio3 vacio3 vacio3 vacio3 paddingright" "paddingleft ourCommunity ourCommunity ourCommunity ourCommunity ourCommunity ourCommunity ourCommunity ourCommunity ourCommunity ourCommunity ourCommunity ourCommunity paddingright" "paddingleft fotosuso1 fotosuso1 fotosuso1 fotosuso2 fotosuso2 fotosuso2 fotosuso3 fotosuso3 fotosuso3 fotosuso4 fotosuso4 fotosuso4 paddingright" "paddingleft fotosuso5 fotosuso5 fotosuso5 fotosuso6 fotosuso6 fotosuso6 fotosuso7 fotosuso7 fotosuso7 fotosuso8 fotosuso8 fotosuso8 paddingright" "paddingleft vacio4 vacio4 vacio4 vacio4 vacio4 vacio4 vacio4 vacio4 vacio4 vacio4 vacio4 vacio4 paddingright" "paddingleft imagenFundacion imagenFundacion imagenFundacion imagenFundacion imagenFundacion imagenFundacion textoFundacion1 textoFundacion1 textoFundacion1 textoFundacion1 textoFundacion1 textoFundacion1 paddingright" "paddingleft imagenFundacion imagenFundacion imagenFundacion imagenFundacion imagenFundacion imagenFundacion textoFundacion2 textoFundacion2 textoFundacion2 textoFundacion2 textoFundacion2 textoFundacion2 paddingright" "paddingleft vacio5 vacio5 vacio5 vacio5 vacio5 vacio5 vacio5 vacio5 vacio5 vacio5 vacio5 vacio5 paddingright"; }
  .fotosdeUso7, .fotosdeUso8 {
    display: flex; }
  /*MEDIA QUERY 3 NEW ARRIVALS Y COLLECTIONS*/
  .contenedorCards {
    grid-template-columns: 210px 210px 210px 210px;
    grid-template-rows: 70px 310px 310px 310px 310px 30px;
    grid-template-areas: "titulonovedadescolecciones titulonovedadescolecciones titulonovedadescolecciones titulonovedadescolecciones" "card1 card2 card3 card4" "card5 card6 card7 card8" "card9 card10 card11 card12" "card13 card14 card15 card16" "vacio1 vacio1 vacio1 vacio1";
    width: 1060px;
    gap: 60px; }
  .card {
    grid-template-rows: 210px 50px 50px; }
  /*PRODUCTOS*/
  .containerGridsProduct {
    max-width: none;
    width: 1200px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0px 60px 30px 0px 20px 30px auto 30PX 100px 22px 54px 20px 54px 20px 30px 20px auto 30px;
    grid-template-areas: "carrusel vacio1" "carrusel titulo" "carrusel precio" "carrusel vacio2" "carrusel reviews" "carrusel vacio3" "carrusel nopesticidas" "carrusel vacio4" "carrusel algo" "carrusel vacio5" "carrusel botonATC" "carrusel vacio6" "carrusel botonComprar" "vacio7 vacio7" "tituloDescripcion tituloDescripcion" "vacio8 vacio8" "descripcion descripcion" "vacio9 vacio9"; } }
