
/*MAIN---------------------------------------------------------------------------------------------------------------*/

/*CONTENEDOR GRID PARA LA SECCION MAIN DE LA HOME MOBILE*/
/*SAAS MIXIN*/
.contenedorMain {
    @include setupGrillas(grid, relative, 100%, 95px);
    margin: 0 auto;
    padding: 0 15px;
    grid-template-rows: $templateRowsHomeMobile;
    gap: none;
    grid-template-areas: $templateAreaHomeMobile;

}

/*SAAS EACH DE UN MAP*/
@each $class, $area in $elementosHomeMobile{
    .#{$class}{
        grid-area: #{$area}
    }
}

.portadaMobile {
    display: flex;
    width: 100%;
}

.portadaTablet, .portada375, .portadaDesktop {
    display:none;
    width: 100%;   
}



.titulocolecciones {
    font-size: 40px;
    text-align: center;
    margin: 40px auto;
}
  
.coleccionesImagenes{
    width: 100%;
    max-width: 450px;
    margin:auto;
}

.coleccionesTexto{
    color: black;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    margin-top:10px;
    font-size: 24px;
}

.coleccionesTexto:visited{
    color:black;
}

.tituloNosotrosPortada{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.parrafoNosotros{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}

.ourCommunity{
    margin: auto;
}

.sliderFotosdeUso {
    display:flex;
    font-size: 24px;
    width:100%;
}

/*SAAS FOR*/
@for $i from 1 through 8{
.fotosdeUso#{$i}{
    display:none;
    width:100%;
}
}

.imagenFundacion{
    display:block;
    margin:auto;
    font-size: 24px;
    width: 250px;
}

.textoFundacion1, .textoFundacion2 {
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:auto;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

/*PAGINA PRODUCTO--------------------------------------------------------------------------------*/
/*SAAS MIXIN*/
.containerGridsProduct{
    @include setupGrillas(grid, relative, 100%, 95px);
    padding: 0 20px;
    margin: 0 auto;
    max-width: 480px;
    grid-template-columns: $templateColumnsProductosMobile;
    grid-template-rows: $templateRowsProductosMobile;
    grid-template-areas: $templateAreaProductosMobile;
}

h2, p{
    padding: 0;
    margin: 0;
}

.carrusel{
    grid-area: carrusel;
}

.titulo{
    font-size: 22px;
    grid-area: titulo;
}
.precio{
    font-size: 20px;
    grid-area: precio;
}
.reviews{
    grid-area: reviews;
}

.noPesticidas{
    width:100%;
    margin:0 auto;
    grid-area: nopesticidas;
}
.botonATC, .botonComprar{
    width:100%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500px;
    border-radius: 18px;
    border: none;
    
}

.botonATC{
    background-color: white;
    color: black;
    border: 2px solid #68634b;
    grid-area: botonATC;
}

.botonComprar{
    border: 2px solid #68634b;
    background-color: #68634b;
    color: white;
    grid-area: botonComprar;
}

.tituloDescripcion{
    margin:0 auto;
    grid-area: tituloDescripcion;
}

.descripcion{
    font-family: source sans pro;
    font-weight: 700;
    font-size: 16px;
    text-align: justify;
    grid-area: descripcion;
}


/*PAGINA NOVEDADES Y COLECCIONES ------------------------------------------------------------*/

.contenedorCards {
    display: grid;
    position: relative;
    top: 95px;
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
    gap: 20px;
    grid-template-columns: $templateColumnsColeccionesyNovedadesMobile;
    grid-template-rows: $templateRowsColeccionesyNovedadesMobile;
    grid-template-areas: $templateAreaColeccionesyNovedadesMobile;
}



.titulonovedadescolecciones {
    grid-area: titulonovedadescolecciones;
    margin: auto;
}

.tituloCard{
    font-size: 18px;
    margin:auto;
}

.precioCard{
    font-size: 15px;
    margin:auto;
}

.imagenCard{
    width:100%;
}

.card {
    display: grid;
    width:100%;
    border: 1px solid black;
    border-radius: 4px;  
    cursor: pointer;
    text-decoration: none;
    color: black;
    margin:auto;  
    box-shadow: 1px 0px 4px 0px black;
    grid-template-columns: $templateColumnsCardcoleccionyNovedadesMobile;
    grid-template-rows: $templateRowsCardcoleccionyNovedadesMobile;
    
    /*SAAS USO DE &*/
    &:visited{
        color:black;
    }
    
    &:active{
        color:black;
    }

    &:hover{
        color:black;
    }

}

/*SAAS FOR*/
@for $i from 1 through 16{
    .card#{$i}{
        grid-template-areas: "foto#{$i}"
                            "titulo#{$i}"   
                            "precio#{$i}";
        grid-area: card#{$i};
    }
} 

/*SAAS FOR*/
@for $i from 1 through 16{
.imagenCard#{$i}{
    grid-area: foto#{$i};
}
}

/*SAAS FOR*/
@for $i from 1 through 16{
.tituloCard#{$i}{
    grid-area: titulo#{$i};
}
}

/*SAAS FOR*/
@for $i from 1 through 16{
.precioCard#{$i}{
    grid-area: precio#{$i};
}
}


/*PAGINA NOSOTROS------------------------------------------------------------------------------------------*/
/*SAAS MIXIN*/
.mainNosotros {
    @include setupGrillas(grid, relative, 100%, 95px);
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-rows: $templateRowsNosotros;
    grid-template-areas: $templateAreaNosotros;
}

.tituloNosotros {
    margin: auto;
    overflow: hidden;
    grid-area: tituloNosotros;
    font-size: 30px;
}

.textoNosotros {
    margin: auto;
    font-size: 18px;
    text-align: justify;
    grid-area: textoNosotros;
}

.imagenFundadores {
    width:100%;
    margin: 0 auto;
    max-width: 700px;
    grid-area: imagenFundadores;
}

/*PAGINA CARRO-------------------------------------------------------------------------------------------------*/
.contenedorItems{
    position: relative;
    display: flex;
    top: 95px;
    padding: 15px 15px 0 15px;
    margin: 30px 15px;
    min-width: 380px;
    max-width: 1050px;
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
}

.contenedorItemsOff{
    display:none
}


.itemHeader{
    display: grid;
    width: 100%;
    height: 30px;
    grid-template-columns: 25% 25% 1fr 1fr 1fr;
    grid-template-rows: 30px;
    grid-template-areas: "vacio productHeaderCart priceHeaderCart quantityHeaderCart subTotalHeaderCart";
    border-bottom: 3px solid black;
    text-align: center;
    font-size: 12px;
}

.productHeaderCart{
    grid-area: productHeaderCart;
}

.priceHeaderCart{
    grid-area: priceHeaderCart;
}

.quantityHeaderCart{
    grid-area: quantityHeaderCart;
}

.subTotalHeaderCart{
    grid-area: subTotalHeaderCart;
}


.item{
    display: grid;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    grid-template-columns: 25% 25% 1fr 1fr 1fr;
    grid-template-rows: 136px;
    grid-template-areas: "imagenCartItem tituloCartItem priceCartItem quantityCartItem subTotalCartItem";
    border-bottom: 2px solid black;
    text-align: center;
}


.imagenCartItem{
    grid-area: imagenCartItem;
    margin: 0 auto;
    width: 120px;
}

.tituloCartItem{
    grid-area: tituloCartItem;
    
}

.priceCartItem{
    grid-area: priceCartItem;
}

.quantityCartItem{
    grid-area: quantityCartItem;
}

.subTotalCartItem{
    grid-area: subTotalCartItem;
}
    

.totalCartContainer{
    display: grid;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    grid-template-columns: 25% 25% 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-template-areas: "vacio vacio vacio totalCartTitle totalCartNumber";
}

.totalCartTitle{
    grid-area: totalCartTitle;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
}

.totalCartNumber{
    grid-area: totalCartNumber;
}
     

.seguirComprandoButton{
    position: relative;
    display: flex;
    margin: 0 auto 30px auto; 
    align-items: center;
    justify-content: center;
    top: 95px;
    width:250px;
    height: 54px;
    border: 1px solid black;
}

.seguirComprandoButtonSinItems{
    position: relative;
    display: flex;
    margin: 50px auto 30px auto; 
    align-items: center;
    justify-content: center;
    top: 95px;
    width:250px;
    height: 54px;
    border: 1px solid black;
}



/*PAGINA CONTACTO-------------------------------------------------------------------------------------------------*/
/*SAAS MIXIN*/
.mainContacto{
    @include setupGrillas(grid, relative, 100%, 95px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    grid-template-rows: $templateRowsContacto;
    grid-template-areas: $templateAreaContacto;
}

.tituloContacto{
    margin: auto;
    overflow: hidden;
    font-size: 30px;
    grid-area: titulo;
}

.textoContacto1, .textoContacto2, .textoContacto3, .textoContacto4{
    text-align: left;
    font-size: 18px;
    text-align: justify;
    grid-area: texto;
    font-family: raleway ;
    font-weight: 600;
    margin: 0 auto;
}

/*SAAS FOR*/
@for $i from 1 through 4{
    .textoContacto#{$i}{
        grid-area:textoContactUs#{$i};
    }
}
